[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pandas = "*"
bs4 = "*"
lxml = "*"
django-filter = "*"

[dev-packages]
requests = "*"
numpy = "*"
pandas = "*"
bs4 = "*"
lxml = "*"
ipython = "*"
ipykernel = "*"
litecli = "*"
matplotlib = "*"
plotly = "*"
django = "*"
djangorestframework = "*"

[requires]
python_version = "3.9"
