[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
requests = "*"
numpy = "*"
pandas = "*"
bs4 = "*"
lxml = "*"

[dev-packages]
ipython = "*"
requests = "*"
numpy = "*"
pandas = "*"
bs4 = "*"
lxml = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
